<template name="signUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="sign-up-in-form">
                    <form role="form">
                        <div class="form-group">
                            <h3>Sign Up</h3>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="userName">Username</label>
                            <input type="text" name="userName" placeholder="Username" class="form-control textBox" id="username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="registerEmail">Username</label>
                            <input type="text" name="registerEmail" placeholder="Email" class="form-control textBox" id="email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="registerPassword">Password</label>
                            <input type="password" name="registerPassword" placeholder="Password" class="form-control textBox" id="password">
                        </div>
                        <button type="submit" class="btn signInBtn">Sign Up!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>