<template name="login">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="sign-up-in-form card">
                    <form role="form">
                        <div class="form-group">
                            <h3>Login</h3>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="loginEmail">Username</label>
                            <input type="text" name="loginEmail" placeholder="Email" class="form-control textBox" id="form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="loginPassword">Password</label>
                            <input type="password" name="loginPassword" placeholder="Password" class="form-control textBox" id="form-password">
                        </div>
                        <button type="submit" class="btn signInBtn">Sign in</button>
                    </form>
                </div>
                <div class="text-center m-t-10">
                    <a href="{{pathFor route='signUp'}}">Create account</a>
                </div>
            </div>
        </div>
    </div>
</template>