<template name="login">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <!--<div class="form-top">-->
                    <!--<div class="form-top-left">-->
                    <!--<h3>Login to e-talk</h3>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="form-bottom">
                        <form role="form" class="login-form">
                            <div class="form-group">
                                <h3>Login to e-talk</h3>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="loginEmail">Username</label>
                                <input type="text" name="loginEmail" placeholder="Email" class="form-control textBox" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="loginPassword">Password</label>
                                <input type="password" name="loginPassword" placeholder="Password" class="form-control textBox" id="form-password">
                            </div>
                            <button type="submit" class="btn signInBtn">Sign in!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>