<template name="chat">
    <div id="pageWrapper">
        {{#if chat}}
            <div class="col-md-12">
                <ul class="chat">
                    {{#each chat}}
                    <li class="left clearfix">
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{from}}</strong>
                                <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>12 mins ago
                                </small>
                            </div>
                            <p>
                                {{message}}
                            </p>
                        </div>
                    </li>
                    {{/each}}
                    <!--<li class="right clearfix">-->
                        <!--<div class="chat-body clearfix">-->
                            <!--<div class="header">-->
                                <!--<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins-->
                                    <!--ago-->
                                <!--</small>-->
                                <!--<strong class="pull-right primary-font">Jack Sparrow</strong>-->
                            <!--</div>-->
                            <!--<p>-->
                                <!--I'll go through a few for you, then provide a diagram with others at the end of the session. Then we can follow up later to see how they are working out for you!-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        {{else}}
            <div class="notFound">Please Start conversation by sending message</div>
        {{/if}}
    </div>

    <div class="col-md-12">
        <div class="panel-footer">
            <div class="input-group sendBtn">
                <input id="chatInput" type="text" class="form-control input-sm "
                       placeholder="Type your message here..."/>
                        <span class="input-group-btn">
                    <button class="btn sendBtncolor btn-default btn-sm sendChat">
                        Send
                    </button>
                </span>
            </div>
        </div>
    </div>
</template>